
#main-container { background: #2e3436; }
.editor-container { color: #D1CBC9; }
.editor-Xdivider { background: #ABA19E; }
#sidebar-tree { background: #222; }
#main-editor { background: #2e3436; }
.line-number-container { background: #4A5255; }
.status-bar { background: #4A5255; }

